.products {
  width: 90%;
  margin: auto;
  padding: 1rem;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-shadow: 0 0 10px #ccc;
}

.products ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
