.product-desc h3 {
  margin: 1rem 0;
}

.add-to-cart {
  padding: 4px;
  margin-top: 1rem;
  background-color: #bed7dc;
  border: 1px solid #60949e;
  border-radius: 5px;
  font-size: 0.75rem;
  font-weight: bold;
}
.add-to-cart:hover {
  cursor: pointer;
  background-color: #81c2cf;
  border-color: #60949e;
}
