.cart-btn {
  padding: 3px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.cart-btn:hover {
  cursor: pointer;
  border: 1px solid;
}

.cart-btn span {
  margin-left: 0.5rem;
  font-size: 1.2rem;
}
