.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0.5rem;
  background-color: #b3c8cf;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navbar-brand {
  text-decoration: none;
  color: #000000;
}

.navbar-brand h1 {
  font-size: 1.75rem;
}

.navbar-brand p {
  font-size: 0.6rem;
  text-align: end;
}
