.navigation {
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}

.navigation a {
  text-decoration: none;
  color: #2e2e2e;
  font-weight: bold;
}

.navigation a:hover,
.navigation a.active {
  color: #000;
  border-bottom: 2px solid;
}
