.navigation {
  width: 25rem;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.nav-link {
  padding: 3px;
  text-decoration: none;
  color: #2e2e2e;
  font-weight: bold;
  border: 1px solid transparent;
  border-radius: 5px;
}
.nav-link:hover {
  border: 1px solid;
}
