.navigation {
  width: 25rem;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.navigation a {
  padding: 3px;
  text-decoration: none;
  color: #2e2e2e;
  font-weight: bold;
}

.navigation a:hover,
.navigation a.active {
  color: #000;
  text-decoration: underline 2px;
}
